<a href="https://colab.research.google.com/github/Ranjitghadge/SQL-/blob/main/SQL_With_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect('test.db')

In [11]:
conn.execute('''
CREATE TABLE Departments(
  Code INTEGER PRIMARY KEY NOT NULL,
  Name Varchar Not Null,
  Budget REAL NOT NULL
);'''

)
conn.commit()
print('Departments table Created');

OperationalError: ignored

In [ ]:
conn.execute('''
CREATE TABLE Employees(
  SSN INTEGER PRIMARY KEY NOT NULL,
  Name TEXT Not Null,
  LASTName VARCHAR NOT NULL,
  Department INTEGER NOT NULL,
  Salary INT NOT NULL,
  CONSTRAINT fk_Departments_Code FOREIGN KEY(Department)
  REFERENCES Departments(code)
);'''

)
conn.commit()
print('Employees table Created');

In [12]:
conn.execute("INSERT INTO Departments(Code,Name,Budget) VALUES(14,'IT',65000);")
conn.execute("INSERT INTO Departments(Code,Name,Budget) VALUES(37,'Accounting',15000);")
conn.execute("INSERT INTO Departments(Code,Name,Budget) VALUES(59,'Human Resources',240000);")
conn.execute("INSERT INTO Departments(Code,Name,Budget) VALUES(77,'Research',55000);")
conn.comit()

OperationalError: ignored

In [13]:
conn = sqlite3.connect('test.db')
cursor = conn.execute('''SELECT * FROM Departments''')
for row in cursor:
  print(row)

In [14]:
cursor = conn.execute('''SELECT * FROM Employees''')
for row in cursor:
  print(row)